* {
    margin: 0;
}

body {
    height: 100vh;
    margin: 0;
    display: block;
}

#main {
    height: 100vh;
}

#left {
    float: left;
    width: 20%;
}

#right {
    float: right;
    width: 20%;
}

#content {
    float: left;
    width: 59%;
    height: 90%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#footer {
    padding: 5px;
    height: 10%;
    background: black;
    color: white;
}